<div class="background_image">
    <img src="~/Content/Images/car.jpg">
</div>
<div class="start-page">
    <div class="main-text">
        <p>PREPARE FOR ADVENTURE</p>
    </div>
</div>
<div class="form-page">
			
    <div class="col-60 form-page-form">
        <div class="form">
            <div class="row form-header">
                <p>Search car</p>
            </div>
            <div class="form-inputs">
                <div class="row max-width">
                    <input type="text" name="pickup" placeholder="Picking up">
                </div>
                <div class="row">
                    <div class="col-60"><input type="text" name="datepick" placeholder="Pick-up Date"></div>
                    <div class="col-40"><input type="text" name="timepick" placeholder="Pick-up Time"></div>
                </div>
                <div class="row">
                    <div class="col-60"><input type="text" name="datedrop" placeholder="Drop-off Date"></div>
                    <div class="col-40"><input type="text" name="timepick" placeholder="Drop-off Date"></div>
                </div>
                <div class="row">
                    <div class="col-30"><input type="button" name="findbtn" value="Search"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-40">
				
    </div>
</div>