@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Styles.Render("~/Content/adminstyle.css")

<div class="table-user-section" id="table-user-section" style="overflow-x: auto"></div>

<script>
    load('@Url.Action("OrdersList")');
    
    // $(document).ready(function () {$("body").on("click", ".delete", deleteFunc)});
    //
    // function editFunc() {   
    //     let value = this.value;
@*    //     request('@Url.Action("EditOrder")?id=' + value); *@
    // }
    //
    // function request(url){
    //     let request = new XMLHttpRequest();
    //     request.open("GET", url);
    //     request.send();
    //     request.onreadystatechange = function (){
    //         if(request.readyState === 4 && request.status === 200){
    //             return request.responseText;
    //         }
    //     }
    // }
    
    function load(url){    
        let request = new XMLHttpRequest();
        request.open("POST", url);
        request.send();
        request.onreadystatechange = function(){
            if(request.readyState === 4 && request.status === 200){
                document.querySelector("#table-user-section").innerHTML = request.responseText;
                statusColor();
            }
        }
    }
    
    function statusColor(){
        let tds = document.querySelectorAll(".status-td");
        for(let element of tds){
            if(element.textContent === "Confirmed"){
                element.style.backgroundColor = "#37b237";
            }
            else if(element.textContent === "Declined"){
                element.style.backgroundColor = "#d85252";
            }
            else{
                element.style.backgroundColor = "#fffb47";
            }
        }
    }
</script>