header {
    position: relative;
}

main {
    margin: 0;
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    height: 50px;
}

.add-section {
    display: flex;
    justify-content: flex-start;
    width: 80%;
}

.add-section img {
    height: 23px;
    width: 23px;
}

.add-user-link {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.add-user-link a:hover {
    color: #494949;
}

.table-user-section {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 30px 0 30px 0;
}

.users-table {
    border: 1px solid grey;
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
}

.users-table tr {
    height: 30px;
}

.users-table td {
    border: 1px solid grey;
    text-align: center;
}

.users-btn-edit-delete {
    height: 30px;
    width: 100%;
    background-color: #494949;
    border: none;
    color: white;
    border-radius: 3px;
}

.register-form {
    width: 500px;
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    /*width: 90%;*/
}

.margin-top {
    margin-top: 20px;
}

.register-label {
    margin-top: 20px;
    font-size: 20px;
    margin-left: 30px;
}

.register-input {
    height: 70px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register-input input {
    width: 400px;
    height: 25px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid grey;
    font-size: 18px;
}

.select-role {
    width: 150px;
    height: 25px;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 3px;
}

.role-list {
    display: flex;
    flex-direction: column;
    /*width: 90%;*/
    justify-content: space-between;
}

.role-row {
    display: flex;
    margin-top: 10px;
    width: 300px;
    justify-content: space-between;
}

.btn-admin {
    height: 25px;
    width: 100px;
    border-radius: 3px;
    border: none;
    background-color: grey;
}

.add-roles {
    display: flex;
    margin-top: 20px;
    width: 300px;
    justify-content: space-between;
}

.register-btn-section {
    margin: 20px 0 20px 0;

}

.btn-register {
    margin-top: 20px;
    height: 40px;
    width: 150px;
    border-radius: 3px;
    border: none;
    background-color: #565656;
}

.edit-link {
    color: #030075;
    font-weight: bolder;
}

.edit-link:hover {
    color: #333333;
}

.edit-form-order {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.input-container {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

.order-number {
    width: 70%;
    height: 25px;
}

.label-text {
    margin-top: 10px;
    font-size: 25px;
}

.input {
    height: 25px;
    width: 250px;
    margin-top: 10px;

}

.checkbox-input {
    margin-top: 10px;
    height: 20px;
    width: 20px;
}

.label-input {
    border: none;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.modal {
    display: none;
    z-index: 1;
    height: 50%;
    width: 40%;
    background-color: #b8b8b8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;

}

.decline-header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 30%;
    align-items: center;

}

.decline-close {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.decline-close img {
    height: 25px;
    width: 25px;
}

.decline-text {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.decline-text textarea {
    resize: none;
    border: none;
}

.decline-btn-block {
    display: flex;
    width: 50%;
    margin: auto;
}

.order-image {
    width: 100%;
    height: 100%;
    text-align: center;
}

.order-image img {
    height: 30px;
}

.field-validation-error {
    color: red;
    font-size: 10px;
    font-weight: bold;
}


