form {
    width: 100%;
}

.col-50-order {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.form-order {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
}

.input-container {
    display: flex;
    width: 80%;
    height: 70px;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.label-text {
    font-size: 20px;
    font-weight: bold;
    height: 25px;
    width: 300px;
    color: black;
}

.input, .checkbox-input {
    width: 180px;
    height: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    
}

.input input {
    width: 180px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 3px;
}

.checkbox-input input {
    height: 20px;
    width: 20px;
}

.label-input {
    border: none;
    font-size: 20px;
    text-align: center;
}

.order-button-btn {
    margin: 25px 0 20px 0;
    height: 40px;
    width: 120px;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: #ff3232;
}

.field-validation-error {
    margin-left: 20px;
    color: red;
    font-size: 10px;
    font-weight: bold;
}