.payment-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 20px;
    background-color: #e0dfde;
    margin: 40px auto 0 auto;
}

form {
    width: 90%;
    margin-bottom: 20px;
}

.payment-row {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.pay-header {
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

input {
    height: 25px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 3px;
    font-size: 20px;
}

.row-pay {
    display: flex;
    justify-content: space-between;
}

input[name=date] {
    width: 100px;
}

input[name=cvv] {
    width: 50px;
}

.pay-inp-cont {
    display: flex;
    height: 90px;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.field-validation-error {
    color: red;
    font-size: 10px;
}

.pay-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pay-btn {
    height: 30px;
    width: 150px;
    border-radius: 3px;
    border: none;
    background-color: #707070;
}